this is a project where it will have items like gpu , cpu
people can come and see this thing with details.
and it has a special feature like compare between two items.
like it will have gpu,cpu.
now uses can select two gpu and compare between them.

in this project i have used typescript, expressjs, prisma, zod validation
this project is modular pattern .

that means in my project i have a folder named modules.
so, for creating any feature like gpu,cpu you have to create a folder similar to feature or model name.
inside this there may have different files for interface,schema,service,controller,validation etc.

code will follow all the best practices of a modular project and clean code with all type of typescript features.